@import "./variables";

.app-container {
  height: 100vh;

  .app-view {
    display: grid;
    height: calc(100% - 40px);
    grid-template-rows: 70px auto 40px;
    row-gap: 1rem;
    margin: 0 auto;

    @media (min-width: $responsive-breakpoint) {
      width: $view-width-desktop
    }
    @media (max-width: $responsive-breakpoint - 1) {
      width: $view-width-mobile;
    }
  }

  .loading {
    display: flex;
    justify-content: space-around;
    padding-top: 5rem;
  }

  .loader {
    margin: auto;
  }
}

.listing-item {
  transition: background-color 0.15s;
  &:hover {
    cursor: pointer;
    background-color: $list-item-hover;
  }
}
