@import "./variables";

.app-container {
  height: 100vh;

  .app-view {
    display: grid;
    height: calc(100% - 40px);
    grid-template-rows: 70px auto 40px;
    margin: 0 auto;

    @media (min-width: $responsive-breakpoint) {
      width: $view-width-desktop
    }
    @media (max-width: $responsive-breakpoint - 1) {
      width: $view-width-mobile;
    }
  }

  .loading {
    display: flex;
    justify-content: space-around;
    padding-top: 5rem;
  }

  .loader {
    margin: auto;
  }

  .add-car-button {
    margin-top: 1.5rem;
  }

}
