.app-container {
  .loading {
    display: flex;
    justify-content: space-around;
    padding-top: 5rem;
  }

  @media (min-width: 800px) {
    width: 720px;
  }
  @media (max-width: 799px) {
    width: 95%;
  }

  margin: 2rem auto;

  .loader {
    margin: auto;
  }

  .add-car-button {
    margin-top: 1.5rem;
  }
}
